Flask==2.3.3
Werkzeug==2.3.7
flask-cors==4.0.0
flask-jwt-extended==4.6.0
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.3.6
python-socketio==5.11.4
python-engineio==4.9.1
psycopg2-binary==2.9.11
gunicorn==21.2.0
requests
python-dotenv