.nav-container {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-width: 1100px;
  height: 64px;
  background: rgba(52, 38, 104, 0.6);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  z-index: 1000;
  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);

  transition: all 0.3s ease;
}

.nav-container:hover {
  transform: translateX(-50%) translateY(-3px);
  box-shadow:
    0 18px 40px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.logo img {
  width: 140px;
  /* adjust size */
  height: auto;
  cursor: pointer;
  margin-top: 5px;
}

.right-cont {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding-left: 10px;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: #C4B5FD;
  text-shadow: 0 0 8px rgba(139, 92, 246, 0.6);
}

.btn {
  background: #8B5CF6;
  color: white;
  padding: 6px 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  box-shadow:
    0 0 10px rgba(139, 92, 246, 0.6),
    0 0 20px rgba(139, 92, 246, 0.4),
    0 0 40px rgba(139, 92, 246, 0.2);

  transition: all 0.3s ease;
}

.btn :hover {
  box-shadow:
    0 0 15px rgba(139, 92, 246, 0.8),
    0 0 30px rgba(139, 92, 246, 0.6),
    0 0 60px rgba(139, 92, 246, 0.4);
  transform: translateY(-2px);
}

.nav-item,
.btn {
  line-height: 1;
  display: flex;
  align-items: center;
}